body {
    font-family: Helvetica Neue;
    padding: 2em;
  }
  
  section {
    padding: 1em 0;
  }
  
  table {
    border-collapse: separate;
  }
  
  th {
    padding: 0 1em;
  }
  
  tr {
    border-bottom: dotted 1px #e61f1f;
    line-height: 2.0;
  }
  
  td {
    text-align: left;
    padding: 0 2.0em;
    background-color: green;
  }
  
  .high {
    background-color: red;
  }

.high2 {
backround-color: yellow;
}