body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: Quicksand, sans-serif;
  padding: 1em 3em;
}

.dot {
  cursor: pointer;
  color: #89DF9F;
  opacity: 0.5;
}

.dot:hover {
  fill: white;
}

.axis-label {
  font-size: 14px;
  fill: black; 
  text-anchor: middle;
}

.trend {
  fill: none;
  stroke: #1894BC;
  stroke-width: 2.0; 
}
