body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
}

#tooltip {
  display: block;
  height: 50px;
}

path.admin {
  stroke: blue;
}

path.borders {
stroke-width: 1;
stroke: blue;
}

path.hover {
fill: red;
cursor: pointer;
}